/collections-data-model/target/
/collections-jpa/target/
/collections-logic/target/
/collections-api/target/
/collections-json-converter/target/
/collections-annotation/target/
/collections-json-converter/nbproject/
/collections-exceptions/target/

/env
/certs
/m2

.env

*~
